<!-- Step12 まで終了 -->
<!-- https://cr-vue.mio3io.com/tutorials/todo.html#step11-%E9%81%B8%E6%8A%9E%E7%94%A8%E3%83%95%E3%82%A9%E3%83%BC%E3%83%A0%E3%81%AE%E4%BD%9C%E6%88%90 -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Vue.js todolist</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div id="app">
		<h1>Vue.js todo list</h1>

		<label v-for="label in options">
			<input type="radio" v-model="current" v-bind:value="label.value">{{ label.label }}
		</label>

		<table>
			<thead>
				<tr>
					<th class="id">ID</th>
					<th class="comment">コメント</th>
					<th class="state">状態</th>
					<th class="button">-</th>
				</tr>
			</thead>
			<tbody>
				<!-- [1]ここに <tr> でtoddの要素を並べる -->
				<tr v-for="item in todos" v-bind:key="item.id">
					<th>{{ item.id }}</th>
					<td>{{ item.comment }}</td>
					<td class="state">
						<!-- 状態変更ボタンをクリック -->
						<button v-on:click="doChangeState(item)">
							{{  item.state }}
						</button>
					</td>
					<td class="button" v-on:click.ctrl="doRemove(item)">
						<!-- 削除ボタン -->
						<button>削除</button>
					</td>
				</tr>
			</tbody>
		</table>

		<h2>新しい作業の追加</h2>
		<form class="add-form" v-on:submit.prevent="doAdd">
			<!-- コメント入力フォーム -->
			コメント <input type="text" ref="comment">
			<!-- 追加ボタンのチェック -->
			<button type="submit">追加</button>
		</form>
		<!-- 絞り込みラジオボタン -->
		<!-- todo テーブル -->
		<!-- 新規投稿フォーム -->
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="main.js"></script>
</body>
</html>